// Footer Styling

#footer-text {
  text-transform: uppercase;
}

footer {
  background: var(--main);
  color: white;
  font-family: 'Montserrat' !important;
  height: 40px;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  flex-wrap: wrap;
  font-family: Noto Sans JP;
  font-weight: 300 !important;
  font-size: 13px;
  grid-gap: 10px;
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 95% !important;
  @media (max-width: 992px) { // iPads
    footer {
      padding: 100px 30px;
    }
  }
    a {
      color: white !important;
      font-family: 'Montserrat';
      text-decoration: none;
    }
  }
  
  footer i, .vertical-sep {
    color: #fff;
  }