.dashboard {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 60vh;
    @media (max-width: 992px) {
        width: 85%;
        max-height: 410px;
    }
}

.dashboardTitleRow {
    display: flex;
    width: 100%;
    background: var(--main);
    padding: 0.5em 0;
    position: sticky;
    top: 0;
}

.dashboardTitleInnerRow {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.titleField {
    width: 100%;
    font-size: .9em;
    font-weight: 700;
    text-align: center;
}

.stockLink {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.companyIndex {
    color: black;
    font-weight: 700;
}

.companySymbol {
    font-weight: 700;
}

.companyChanges {
    font-weight: 700;
}

.deleteButton {
    i {
        color: var(--main);
        &:hover {
            cursor: pointer;
        }
    }
}