:root {
    --red: #de1c1c;
}

@mixin flexThis {
    display: flex;
    justify-content: center;
    align-content: center;
}

.companyDataHeader {
    color: white !important;
    span:not(.symbolOfComp) {
        color: var(--main);
    }
    .symbolOfComp {
        color: white !important;
    }
}

.companyLoading {
    display: flex;
    grid-gap: 1em;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 16px solid #626262;
    border-top: 16px solid var(--main);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.companyDash {
    display: flex;
    background: white;
    width: 80%;
    margin: 1em auto;
    padding: 0.5em 2em .7em;
    border-radius: 15px;
    align-items: center;
    grid-gap: 2em;
    box-shadow: -3px 5px 11px black;
    a {
        color: black;
    }
    @media (max-width: 1285px) {
        flex-direction: column;
    }
}

.companyData {
    width: 50%;
    color: black;
}

.companyTitleRow {
    display: flex;
    align-items: center;
    grid-gap: 1em;
    padding: .5em 0;
    a {
        display: flex;
        grid-gap: 0em;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .titleText {
            font-size: .7em;
            display: flex;
            flex-direction: column;
            width: auto;
            grid-gap: .3em;
            justify-content: center;
            text-align: right;
            color: black;
            font-weight: 700;
        }
    }
}

.companyImage {
    max-height: 80px;
    height: auto;
    max-width: 300px;
    padding-right: 1em;
    border-right: solid 5px var(--main);
}

.stockPrice {
    text-align: left;
    font-size: .7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.industry {
    font-size: .8em;
}

.companyDescription {
    font-size: .65em;
    font-weight: 500;
    margin: 0.6em 0 0 0;
    max-height: 230px;
    overflow: auto;
    position: relative;
    padding: 0em 1em 0 0em;
    text-align: left;
    border-top: solid 5px var(--main);
    .desc {
        font-size: .85em;
        padding-left: 2em;
        font-style: italic;
    }
    .innerStockData {
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 0;
        background: rgba(255, 255, 255, .7);
        width: 100% !important;
        text-align: left;
        padding: .5em 0;
        font-size: .85em;
        left: 0;
        right: 0;
        height: 100%;
        backdrop-filter: blur(5px);
        font-weight: 700;
    }
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        width: 5px;
        background: var(--red);
        border-radius: 0px;
    }
}

.companyChart {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    grid-gap: 1em;
    position: relative;
    .chartTitle {
        font-size: .8em;
        text-align: center;
        font-weight: 600;
        font-style: italic;
    }
    canvas {
        background: white;
        color: white;
        z-index: 1;
        animation: fadeIn 3s ease-in-out;
    }
    .spinnerSVG {
        stroke-dasharray: 5px;
        -webkit-transform-origin: center;
        transform-origin: center;
        overflow: visible;
        margin-left: 0em;
        max-width: 75px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
      path {
          stroke: black;
      }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}