// Stock Bar Styling

.stockBar {
    display: flex;
    width: 800%;
    align-items: center;
    position: absolute;
    top: 50px;
    animation: marqueeMove 800s linear infinite;
    .stockElement {
        text-align: center;
        width: 177px;
        font-size: 0.8em;
        color: white;
      }
      
      .marqueeAnim {
        animation: marqueeMove 800s linear infinite;
      }
      
      @keyframes marqueeMove {
        0% {
          transform: translate(0%);
        }
        100% {
          transform: translate(-50%);
        }
      }
      
      @keyframes spinner {
        0% {
          transform: rotate(0deg);
          stroke-width: 3px;
          stroke-dasharray: 20px;
          stroke-dashoffset: -1000%;
        }
        100% {
          transform: rotate(360deg);
          stroke-width: 10px;
          stroke-dasharray: 50px;
          stroke-dashoffset: 2000%;
        }
      }
      
      .spinnerSVG {
        stroke-dasharray: 5px;
        transform-origin: center;
        overflow: visible;
        margin-left: 1em;
        max-width: 20px;
        display: none;
      }
      
      .spinnerSVG path {
        stroke: white;
        transform: scale(1.5);
        animation: spinner 2s linear infinite;
        transform-origin: center;
      }
      
      .show {
        display: block;
        animation: fadeIn 0.4s ease-in-out;
    }

}

.companyElement {
    background: var(--silver);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.outerMarquee a:hover {
text-decoration: none !important;
}

.companyRow {
    display: flex;
    height: 38px;
    width: 100%;
    // border-bottom: 1px solid #de1c1c;
    justify-content: center;
    align-items: center;
}
.companyRow a {
    display: flex;
    justify-content: center;
    grid-gap: .5em;
    align-items: center;
}
.companyIcon {
    max-height: 30px;
    width: auto;
    margin-right: 10px;
}
.companySymbol {
    color: #b5b5b5;
    font-size: 0.8em;
}
.positive {
    color: green;
    font-size: 0.8em;
}
.negative {
    color: #de1c1c;
    font-size: 0.8em;
}

.companyRow:last-child{
    border: none;
}
.outerMarquee .companyRow {
    border-bottom: none !important;
}